html {
    background-color: rgb(18, 15, 66);
    color: white;
}
* {
    box-sizing: border-box;
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1a1947;
    
  }